@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Fontspring-DEMO-halcyon-medium.otf);
}
:root {
  --width-variable: 405px;
  --var-WidthSmall: 338px;
  --var-navColor: #ffffff;
  --var-navColor-Text: #000000;
  --var-color-60: #c5d6ea;
  --var-button-Backgroundcolor: #111827;
  --var-button-color: #ffffff;
  --var-color-60-dark: #12113d;
  --var-background: #f8f8f8;
  --var-color-10: #fe450d;
  --var-color-30-1: #283385;
  --var-color-30-2: #1f2937;
  --var-input-color: #c5d6ea;
  --var-navColor-Text: #4b5563;
  --var-main-title: #595959;
  --var-Fav-Color: #ebecee;
}

.darkmode {
  --width-variable: 405px;
  --var-navColor: #0d0d0d;
  --var-navColor-Text: #ffffff;
  --var-color-60-dark: #c3c2ee;
  --var-background: #141414;
  --var-button-Backgroundcolor: #d8dfee;

  --var-button-color: #111827;
  --var-color-10: #fe450d;
  --var-color-30-1: #154388;
  --var-color-30-2: #c8d2e0;
  --var-input-color: #c5d6ea;
  --var-navColor-Text: #d2d2d2;
  --var-color-60: #1c334d;
  --var-main-title: #d2d2d2;
  --var-Fav-Color: #1d1e22;
  --var-WidthSmall: 338px;
}
.app {
  background-color: var(--var-background);
  color: var(--var-color-30-2);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--var-color-30-2);
}
.Favorite-Title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.Favorite-num {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
.FavCardImg img {
  width: 303px;
  height: 306px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FavCard {
  width: 405px;
}
.FavCardImg {
  position: relative;
  width: var(--width-variable);
  height: 403px;
  padding: 50px;
  background-color: var(--var-Fav-Color);
}
.FavRemoveButt {
  padding: 0px 8px;
  color: var(--var-button-color);
  border: none;
  font-family: "Work Sans", sans-serif;
  background-color: var(--var-button-Backgroundcolor);
}
.FavRemoveButt:hover {
  background-color: #ef212a;
}

.FavDownButt {
  width: 24px;
  height: 24px;
  color: var(--var-button-color);
  border: none;
  font-family: "Work Sans", sans-serif;
  background-color: var(--var-button-Backgroundcolor);
}
.FavDownButt:hover {
  color: var(--var-button-color);
  background-color: #f15627;
}
.FavTitle {
  width: var(--width-variable);
}
.FavIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
}
.FavRemove {
  position: absolute;
  top: 15px;
  right: 20px;
}
.FavProduct-Title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.FavminDesc {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.FavButtons {
  width: var(--width-variable);
}
.FavAdd {
  background-color: var(--var-button-Backgroundcolor);
  color: var(--var-button-color);
  width: auto;
  border: none;
  padding: 10px 55px;
}
.FavAdd:hover {
  background-color: var(--var-color-60);
  color: var(--var-button-Backgroundcolor);
}

#FavMore {
  background-color: var(--var-background);
  color: var(--var-button-Backgroundcolor);
  width: auto;
  font-weight: 400;
  border: 1px solid var(--var-button-Backgroundcolor);
  padding: 10px 35px;
}
#FavMore:hover {
  background-color: #a12600;
  border: none;
  color: var(--var-button-color);
}
@media screen and (max-width: 600px) {
  .FavCardImg img {
    width: 238px;
    height: 241px;
    filter: blur(0.1px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .FavCard {
    width: 299.5px;
  }
  .FavCardImg {
    position: relative;
    width: var(--var-WidthSmall);
    height: 3px;
   
    background-color: var(--var-Fav-Color);
  }
  .FavRemoveButt {
    padding: 0px 8px;
    color: var(--var-button-color);
    border: none;
    font-family: "Work Sans", sans-serif;
    background-color: var(--var-button-Backgroundcolor);
  }
  .FavRemoveButt:hover {
    background-color: #ef212a;
  }

  .FavDownButt {
    width: 24px;
    height: 24px;
    color: var(--var-button-color);
    border: none;
    font-family: "Work Sans", sans-serif;
    background-color: var(--var-button-Backgroundcolor);
  }
  .FavDownButt:hover {
    color: var(--var-button-color);
    background-color: #f15627;
  }
  .FavTitle {
    width: var(--var-WidthSmall);
  }
  .FavIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
  }
  .FavRemove {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .FavProduct-Title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
  }
  .FavminDesc {
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  .FavButtons {
    width: var(--var-WidthSmall);
  }
  .FavAdd {
    background-color: var(--var-button-Backgroundcolor);
    color: var(--var-button-color);
    width: auto;
    border: none;
    padding: 10px 35px;
  }
  .FavAdd:hover {
    background-color: var(--var-color-60);
    color: var(--var-button-Backgroundcolor);
  }

  #FavMore {
    background-color: var(--var-background);
    color: var(--var-button-Backgroundcolor);
    width: auto;
    font-weight: 400;
    border: 1px solid var(--var-button-Backgroundcolor);
    padding: 11px 16px;
  }
  #FavMore:hover {
    background-color: #a12600;
    border: none;
    color: var(--var-button-color);
  }
}
